body{
    display: flex;
    flex-direction:column;
    
}
html{
    display: flex;
    justify-content: center;
    background-color: rgb(87, 24, 16);
    text-align: center;
    color: #deddddfd;
    text-shadow: #060202;
}
span{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    color: #808080;
    text-decoration: underline;
    list-style-type: none;
    font-size: 3rem;
}
h4{
    font-style: italic;
}
#guess-button{
    background-color: #808080;
}